@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #031f05; 
    --secondary-color: rgba(90, 136, 0, 0.51);
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */
nav {
    background-image: url("/assets/images/IMG_9762-scaled-1200x400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.5rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
    background-color: var(--secondary-color);
}

.redirects,
.nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav a,
i {
    margin: 0 10px;
    color: var(--primary-color);
}

.nav_buttons a:hover {
    color: rgba(90, 136, 0, 0.51);
    /* color: var(--primary-color); */
}

.redirects {
    width: 70%;
    font-size: 20px;
    font-weight: 500;
    color: #ffff;
    padding: 10px 0px;
}

h1 {
    font-family: 'Chelsea Market', 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    color: var(--primary-color);
    margin: 5% 0 0 1%;
    opacity: 1;
}

h2 {
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 4%;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1% 0;
}

.info p {
    padding: 2%;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgba(201, 201, 201, 0.22);
    color: rgb(82, 80, 80);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
    margin: auto;
}

/* MAIN */

.plants img {
    max-width: 300px;
    border-radius: 15px;
}

.plants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.plant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1%;
    margin: 4% auto;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    background-color: rgba(201, 201, 201, 0.22);
}

.plant:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.plant img {
    width: 100%;
    border-radius: 15px;
}

.productInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.titlePlant {
    font-size: 20px;
    font-weight: 500;
    margin: 2% 0;
}

.buyPlant {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.price {
    font-size: 1.2rem;
    font-weight: 600;
}

.buy {
    background-color: #50b959;
    color: #ffff;
    border: none;
    padding: 1% 2%;
    border-radius: 5px;
}

.buy:hover {
    cursor: pointer;
    background-color: #098013;
    color: #ffff;
}

.tips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 0;
    color: rgb(41, 39, 39);
    font-size: 1.375rem;
    font-weight: 600;
}

.tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
    height: auto;
    justify-self: center;
}

.tip img {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    border-radius: 1rem;
    opacity: 0.9;
    
}

.tipTitle {
    text-align: center;
}

.tip img:hover,
.tipTitle:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.7;
}


/* FOOTER */

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-template-areas: "logo logo redes"
                         "logo logo redes"
                         "copyright copyright copyright";
    gap: 1rem 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: #000000;
    padding: 1.5% 0;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

footer p,
.logo,
.links {
    color: var(--primary-color);
    margin: auto;
}

.logo {
    grid-area: logo;
    font-size: 32px;
    text-align: center;
}


.links {
    grid-area: redes;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.link {
    font-size: 16px;
    width: 100%;
    margin: 0 10px;
    padding: 2%;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #031f05;
}

.copyright {
    grid-area: copyright;
    font-size: 14px;
    text-align: center;
}


/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        flex-direction: row;
        align-items: center;
        font-weight: 600;
        padding: 0 1.2rem;
    }

    .redirects {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
        font-weight: inherit;
    }

    .nav_buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding: 10px 0;
    }

    h1 {
        font-size: 60px;
        margin: 2% 0;
    }

    h2 {
        font-size: 28px;
        padding-bottom: 2%;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2% 0;
    }

    .info p {
        font-size: 16px;
    }

    .plants {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 2%;
    }

    .plant {
        margin: 2%;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        width: 100%;
    }

    .logo {
        width: 60%;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .link {
        margin: 10px 0;
    }

    .copyright {
        font-size: 14px;
        justify-self: center;
        align-self: center;
        padding: 2%;
    }
}


/* MOBILE */
@media (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .container {
        min-height: 40px;
        padding: 0;
    }

    .redirects {
        display: none;
    }

    .nav_buttons {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--primary-color);
    }

    h1 {
        font-size: 50px;
        margin: 2% 0;
    }

    h2 {
        font-size: 24px;
        padding-bottom: 2%;
    }

    main {
        padding: 0 4%;
    }

    .info {
        display: none;
    }

    .plants {
        grid-template-columns: 1fr;
    }

    .plant {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content;
        grid-template-areas: "img title";
        gap: 0 1.5rem;
    }

    .productInfoContainer {
        justify-content: space-around;
        align-items: flex-start;
        min-height: 100%;
    }

    .buyPlant {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem 0;
        grid-template-areas: "price like"
                             "buyButton like";
    }

    .titlePlant {
        font-size: 1.5rem;
        margin: 0 0 2rem 0;
    }

    .price {
        grid-area: price;
        font-size: 1.8rem;
    }

    .buy {
        grid-area: buyButton;
        font-size: 1rem;
        padding: .5rem;
    }

    i {
        grid-area: like;
        justify-self: center;;
    }

    .tips {
        grid-template-columns: 1fr;
        gap: 1rem 0;
    }

    footer {
        padding: 1.5rem 0;
    }

    .logo {
        width: 100%;
    }

    .link {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}

/* MOBILE */
@media (max-width: 468px) {

    main {
        padding: 0 4%;
    }

    .link {
        span {
            display: none;
        }
    }
}